@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,600;0,900;1,800;1,900&display=swap");

:root {
  --primary-color: #f95555;
  --primary-color-dark: #bb0811;
  --text-dark: #171717;
  --text-light: #737373;
  --light: #e5e5e5;
  --extra-light: #fdfdf6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
}
.section__header span {
  position: relative;
  isolation: isolate;
}
