@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,600;0,900;1,800;1,900&display=swap");

:root {
  --primary-color: #f95555;
  --primary-color-dark: #bb0811;
  --text-dark: #171717;
  --text-light: #737373;
  --light: #e5e5e5;
  --extra-light: #fdfdf6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
}
.section__header span {
  position: relative;
  isolation: isolate;
}

.section__header span::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  border-bottom: 4px solid var(--primary-color);
  border-radius: 100%;
  z-index: -1;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins" sans-serif;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px 20px 5px 20px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}
